server:
  port: 8000

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      mvc:
        routes:
          - id: first-service
            uri: http://localhost:8081/
            predicates:
              - name: Path
                args:
                  pattern: /first-service/**
          - id: second-service
            uri: http://localhost:8082/
            predicates:
              - name: Path
                args:
                  pattern: /second-service/**